<nav class="navbar navbar-light bg-light">
  <span class="navbar-brand mb-0 h1">Navbar</span>
</nav>
<div class="container">
  <h1>Lists</h1>

  <ul class="list-group">
    <% @lists.each do |list| %>
      
      ajouter card bootstrap
      
      <li class="d-flex list-custom mt-1"><%= link_to list_path(list), class: "list-group-item w-100" do %>
      <%= list.name %>
      <% end %>
      </li>
    <% end %>
  </ul>

  <%= link_to new_list_path, class: "btn btn-primary mt-2" do %>
    <i class="fas fa-plus"> Create a new movie list</i>
  <% end %>
</div>
