// Specific CSS for your home-page
body{
  background-color: #222;
  color: white;
}

.watchlist-title{
  display: flex;
  align-items: center;
  justify-content: space-between;

  h3{
    margin: 0;
  }
}

.greyfilter{
  filter: grayscale(100%);

  &:hover{
    filter: none;
  }
}

.movie-grid-index{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 5px;
  gap: 5px 5px;
  color: black;
}
