// Specific CSS for your home-page
body{
  background-color: #222;
  color: white;
}

.watchlist-title{
  display: flex;
  align-items: center;
  justify-content: space-between;

  h3{
    margin: 0;
  }
}

.greyfilter{
  filter: grayscale(100%);

  &:hover{
    filter: none;
  }
}