.bannerimage,
.cloudbannerimage{
  background-color: black;
  background-position: center;
  background-size: cover;
}

.bannerimage{
  width: 100%;
  height: 550px;
  background-image: asset-url("cinema.jpg");
}

.logo{
  height: 25px;
}

.cloudbannerimage{
  width: 100%;
}
