.navbar-lewagon {
  justify-content: space-between;
  background: #111;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.darkBg{
  background-color: #222;
}
