// Reset padding
.navbar{
  padding: 0.5rem;
  background-color: #333;
}

.navbar-lewagon {
  justify-content: space-between;
  background: #111;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

@keyframes grayfilter {
  0%   {filter: grayscale(10%);}
  25%  {filter: grayscale(30%);}
  50%  {filter: grayscale(50%);}
  100% {filter: grayscale(80%);}
}

.navbar-brand:hover{
  animation-name: grayfilter;
  animation-duration: 4s;
}

.darkBg{
  background-color: #222;
}

.logo{
  height: 25px;
}

// Navbar avatar
.list-contain{
  list-style: none;
}

.list-contain:hover .dropdownmenu{
  display: block;
}

.dropdownmenu{
  display: block;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  right: 6px;
}

.dropdownitem{
  display: block;
  color: black;
  padding: 12px 16px;
}

.dropdownitem:hover{
  text-decoration: none;
  color: #8db095;
  background-color: white;
  transform: scale(1.01);
}