// Reset padding
.navbar{
  padding: 0.5rem;
  background-color: #333;
}

.navbar-lewagon {
  justify-content: space-between;
  background: #111;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

@keyframes grayfilter {
  0%   {filter: grayscale(10%);}
  25%  {filter: grayscale(30%);}
  50%  {filter: grayscale(50%);}
  100% {filter: grayscale(80%);}
}

.navbar-brand:hover{
  animation-name: grayfilter;
  animation-duration: 4s;
}

.darkBg{
  background-color: #222;
}

.logo{
  height: 25px;
}

// Avatar content
.figure-image{
  display: inline-block;
  margin-bottom: 0;

  &:hover{
    cursor: pointer;
    filter: brightness(1.2);
  }
}

.dropdownmenu{
  display: block;
  position: absolute;
  margin-top: 8px;
  background-color: #f1f1f1;
  min-width: 130px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  right: 6px;
}

.dropdownitem{
  display: block;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
}

.dropdownitem:hover{
  color: #167ffb;
  background-color: white;
  // transform: scale(1.01);
}